<body class="body-homepage">
    <div class="div-homepage">
        <h1 class="text-light">Quiz top demais</h1>
        <% if current_user %>
        <h2 class="text-light">Bem vindo de volta, <%= current_user.name %>!</h2>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
        <% else %>
        <h5 class="text-light pt-3">Não tem conta? <%= link_to 'Cadastre-se', new_user_registration_path, class: "btn btn-secondary"%></h5>
        <h5 class="text-light pt-3">Já é um usuário? <%= link_to 'Entrar', new_user_session_path, class: "btn btn-secondary"%></h5>
        <% end %>
    </div>
</body>

<style>
    .body-homepage {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    }

    .div-homepage {
        text-align: center;
        padding-top: 50px;
    }
</style>