// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.questionary-preview {
    width: 60%;

    .edit-question-options{
        display: inline;
        font-size: 1rem;
        a {
            color: whitesmoke;
        }

        a:hover {
            color: rgba(252, 70, 107, 1);
        }
    }
}