// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.quiz-index {
    .quiz-title {
        font-weight: bold;
        color: black;
    }

    a {
        color: whitesmoke;
        margin-left: 1rem;
    }

    a:hover {
        color: rgba(252, 70, 107, 1);
    }
}

.quiz-questions {
    a {
        color: whitesmoke;
    }

    a:hover {
        color: rgba(252, 70, 107, 1);
    }
}